$primary: #3a2e27;
$secondary: #746862;
$tertiary: #81745e;
$text: #e0e09f;
$tertiary-light: rgba($tertiary, 0.25);
$text-light: rgba($text, 0.25);
$topbar-color: rgba(0,0,0,0);
$clock-color: $primary;
