$primary: #394749;
$secondary: #202d2f;
$tertiary: #091517;
$tertiary-light: rgba($tertiary, 0.25);
$text: #dbe2d9;
$text-light: rgba($text, 0.25);
$topbar-color: #394749;
$clock-color: #dbe2d9;
$nautilus-main: #394749;
$nautilus-secondary: #202d2f;
$system-datemenu: #3584e4;
