@use 'brown' as *;

.theme-dark,
.theme-dark span:not([class*=username]):not([class*=mention]):not([style*=color]),
.theme-dark div:not([class*=username]):not([style*=color]), .theme-light,
.theme-light span:not([class*=username]):not([class*=mention]):not([style*=color]),
.theme-light div:not([class*=username]):not([style*=color]) {
  color: #{$text} !important;

}

.theme-dark, .theme-light {
  background-color: #{$primary} !important;
  
}

/*Bottom left user window and mute buttons*/
[class*="container"] {
  background-color: #{$primary} !important;
}

[class*="panels"]::before {
  content: "";
  position: absolute;
  /* Negative values expand the background outward to touch neighboring elements */
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  background-color: #{$primary} !important;
  z-index: -1; /* Pushes the fill behind the actual content */
  pointer-events: none; /* Ensures you can still click the buttons/text */
  box-shadow: 0 0 10px 5px color-mix(in srgb, #{$primary}, black 20%) !important
}



/* Using ::before to create an "underlay" that fills gaps */


/*chat box*/
[class*="container_b7e1cb"] {
  background-color: #{$secondary} !important;
}


/*side bar background */
[class*="content"] {
  background-color: #{$primary} !important;
}

/*username above message content */
[class*="contents"] {
  background-color: #{$secondary} !important;
}

/*side bar scroller (must be above scrollerInner)*/
[class*="scroller"] {
  background-color: #{$primary} !important;
}


/* inner message window area */
[class*="scrollerInner"] {
  background-color: #{$secondary} !important;
}





[class*="scrollableContainer"] {
  background-color: #{$primary} !important;
}

[class*="searchBar"] {
  background-color: #{$primary} !important;
}

[class*="form"] {
  background-color: #{$secondary} !important;
}

