$primary: #488599;
$secondary: #6eabbf;
$tertiary: #94d1e5;
$tertiary-light: rgba($tertiary, 0.25);
$text: #ffffff;
$text-light: rgba($text, 0.25);
$topbar-color: #488599;
$clock-color: #ffffff;
$nautilus-main: #6eabbf;
$nautilus-secondary: #6eabbf;
$system-datemenu: #246cc5;
