$primary: #3a2e27;
$secondary: #60544d;
$tertiary: #867a73;
$tertiary-light: rgba($tertiary, 0.25);
$text: #e0e09f;
$text-light: rgba($text, 0.25);
$topbar-color: rgba(0, 0, 0, 0);
$clock-color: #e0e09f;
$nautilus-main: #60544d;
$nautilus-secondary: #60544d;
$system-datemenu: #246cc5;
