$primary: #6e5245;
$secondary: #75361c;
$tertiary: #f99503;
$tertiary-light: rgba($tertiary, 0.25);
$text: #f9f9f9;
$text-light: rgba($text, 0.25);
$topbar-color: #6e5245;
$clock-color: #f9f9f9;
$nautilus-main: #75361c;
$nautilus-secondary: #75361c;
$system-datemenu: #246cc5;
