$primary: #e0d4fd;
$secondary: #aa9eca;
$tertiary: #aa9eca;
$tertiary-light: rgba($tertiary, 0.25);
$text: #0d1117;
$text-light: rgba($text, 0.25);
$topbar-color: #e0d4fd;
$clock-color: #0d1117;
$nautilus-main: #e0d4fd;
$nautilus-secondary: #aa9eca;
$system-datemenu: #3584e4;
