$primary: #d1d1d1;
$secondary: #aaaaaa;
$tertiary: #bf6056;
$tertiary-light: rgba($tertiary, 0.25);
$text: #3d230d;
$text-light: rgba($text, 0.25);
$topbar-color: #d1d1d1;
$clock-color: #3d230d;
$nautilus-main: #d1d1d1;
$nautilus-secondary: #aaaaaa;
$system-datemenu: #246cc5;
