$primary: #21233b;
$panel-grad-start: #21233b;
$panel-grad-end: #4359;
$topbar-start: #21233b;
$topbar-end: #4359;
$gnome-menu-start: #21233b;
$gnome-menu-end: #4359;
$nautilus-start: #21233b;
$nautilus-end: #4359;
$secondary: #241f31;
$tertiary: #f04f2b;
$tertiary-light: rgba($tertiary, 0.25);
$text: #f9f9f9;
$text-light: rgba($text, 0.25);
$topbar-color: #21233b , #4359;
$clock-color: #f8c1b6;
$nautilus-main: #21233b , #4359;
$nautilus-secondary: #241f31;
$system-datemenu: #246cc5;
/*;
CUSTOM_TOPBAR:yes;
CUSTOM_GNOME_MENU:no;
CUSTOM_NAUTILUS_MAIN:no;
CUSTOM_NAUTILUS_SECOND:no;
CUSTOM_CLOCK:yes;
CUSTOM_GRAD:yes;
*/;
