$primary: #f5f6fb;
$secondary: #cecfd4;
$tertiary: #dd8cbb;
$tertiary-light: rgba($tertiary, 0.25);
$text: #3d230d;
$text-light: rgba($text, 0.25);
$topbar-color: #f5f6fb;
$clock-color: #3d230d;
$nautilus-main: #cecfd4;
$nautilus-secondary: #cecfd4;
$system-datemenu: #246cc5;
